###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
*.log
.vs/
.DS_Store
*/UserSettings

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.vsidx
*.log
*.dwlt
*.dwlt
.vsconfig
*/.idea
Semester2Project/ProjectSettings/AudioManager.asset
Semester2Project/ProjectSettings/ClusterInputManager.asset
Semester2Project/ProjectSettings/DynamicsManager.asset
Semester2Project/ProjectSettings/EditorSettings.asset
Semester2Project/ProjectSettings/VFXManager.asset
Semester2Project/ProjectSettings/UnityConnectSettings.asset
Semester2Project/ProjectSettings/ShaderGraphSettings.asset
Semester2Project/ProjectSettings/VersionControlSettings.asset
